body {
  font-family: arial;
  background: #f8f9fb;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}

hr {
  margin: 0;
}

body {
  font-size: 14px;
  color: #82868f;
}

.wrapper {
  margin: 0 auto;
  max-width: 1480px;
  width: 100%
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

nav {
  background: #f7fdfe;
}

nav .logo {
  float: left;
}

nav .logo h1 {
  font-size: 30px;
  padding: 29px 10px;
  text-transform: uppercase;
}

nav .menu {
  float: right;
  display: block;
  text-transform: uppercase;
}

nav .menu li {
  display: inline-block;
  font-size: 14px;
}

nav .menu li a {
  display: block;
  text-decoration: none;
  padding: 38px 18px;
  color: #82868f;
}

nav .menu .contact a {
  padding: 16px 36px;
  background: #0ebfdd;
  border-radius: 38px;
  color: #fff;
}

nav:after {
  content: "";
  display: block;
  clear: both;
}

.banner {
  position: relative;
  background: url(../img/1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.banner:before {
  content: '';
  background: #82868f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.banner .title h1 {
  font-size: 44px;
  padding-top: 620px;
  padding-bottom: 36px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.banner .sub-title p {
  font-size: 20px;
  padding: 0 70px 80px;
  position: relative;
  z-index: 1;
}

.about {
  text-align: center;
}

.about .content {
  padding: 65px 70px 70px;
}

.about .content h1 {
  font-size: 44px;
  color: #0ebfdd;
  margin: 36px;
}

.about .content p {
  font-size: 20px;
  color: #45494d;
}

.team {
  background: #0ebfdd;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.team h1 {
  font-size: 44px;
  padding: 55px 10px 105px;
}

.team li {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
}

.team li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.team ul {
  padding-bottom: 105px;
}

.team ul:after {
  content: "";
  display: block;
  clear: both;
}

.team .btn {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding-bottom: 75px;
}

.map {
  background: url(../img/5.jpg);
  height: 600px;
}

.map .map_ad {
  position: relative;
}

.map .map_ad span {
  padding: 13px;
  display: block;
  width: 167px;
  height: 76px;
  background: #45494d;
  position: absolute;
  top: 190px;
  left: 135px;
  line-height: 1.5;
}

.map .map_ad span a {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

.map .map_ad .triangle {
  position: absolute;
  top: 292px;
  left: 165px;
  width: 0;
  width-height: 0;
  border-top: 5px solid #45494d;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.map .map_ad .fa-map-marker {
  position: absolute;
  display: block;
  width: 28px;
  height: 36px;
  color: #0ebfdd;
  top: 300px;
  left: 155px;
}

footer {
  background-color: #45494d;
  width: 100%;
}

footer .footer_top {
  background: #45494d;
  padding: 20px 0;
  color: #fff;
}

footer .footer_top li {
  display: inline-block;
}

footer .footer_top .nav-footer {
  float: left;
  margin: 20px 0;
}

footer .footer_top .nav-footer li {
  padding-right: 15px;
}

footer .footer_top .nav-fb {
  display: block;
  position: relative;
  float: right;
}

footer .footer_top .nav-fb li {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 5px;
}

footer .footer_top .nav-fb li .fa-envelope,
footer .footer_top .nav-fb li .fa-facebook,
footer .footer_top .nav-fb li .fa-twitter {
  position: absolute;
  top: 20px;
}

footer .footer_top .nav-fb li .fa-envelope {
  left: 19px;
}

footer .footer_top .nav-fb li .fa-facebook {
  left: 78px;
}

footer .footer_top .nav-fb li .fa-twitter {
  left: 132px;
}

footer .footer_top:after {
  content: "";
  display: block;
  clear: both;
}

footer .footer_bottom {
  display: block;
  float: right;
  padding: 15px 0;
}

footer .footer_bottom li {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

footer .footer_bottom li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 12px;
  background: #82868f;
  top: 0;
}

footer .footer_bottom li:last-child {
  padding-right: 0;
}

footer .footer_bottom li:last-child:after {
  background: none;
}

footer:after {
  content: "";
  display: block;
  clear: both;
}
