body, div, section, ul, li, h3, h4, p {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: Arial, Serif;
}

ul {
	margin-left: 25px;
}

h3 {
	padding-bottom: 10px;
}

li {
	display: block;
	height: 430px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
	float: left;
}

img {
	width: 100%;
}

p {
	color: #666666;
}

a {
	display: inline-block;
	margin-top: 30px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5e;
	color: white;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 10px;
}

.price {
	display: block;
	margin-top: 20px;
	font-weight: bold;
}

.redPrice {
	font-weight: bold;
	color: red;
	text-decoration: line-through;
}

.wrapper {
    width: 100%;
    background-color: #c8cfdc;
}

.main {
	margin: 0 auto;
    max-width: 1480px;
	width: 100%
}

.top li {
	width: 19%;
	position: relative;
}

.top li:nth-child(5n) {
	margin: 0;
}

.picture {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

.content {
	width: 100%;
	position: absolute;
	bottom: 20px;
	text-align: center;
}

.first {
	background-color: #383d68;
	color: white;
}

.first p {
	color: white;
}

.first:hover {
	background-color: aqua;
}

.top a {
	background-color: #0089cf;
}

.exclusive {
	display: inline-block;
	color: black;
}

.exclusive:before {
	margin-right: 20px;
	content: "";
	width: 16px;
	height: 16px;
	background-image: url(images/1.jpg);
	background-repeat: no-repeat;
	display: none;
}

.exclusive:hover:before {
	display: inline-block;
}

.exclusive:after {
	margin-left: 20px;
	content: "";
	width: 16px;
	height: 16px;
	background-image: url(images/2.jpg);
	background-repeat: no-repeat;
	display: none;
}

.exclusive:hover:after {
	display: inline-block;
}

.third, .fourth {
	text-align: center;
}

.picture_jacket {
	position: absolute;
	bottom: -4px;
}

.contentJacket {
	width: 100%;
	position: absolute;
	top: 20px;
	text-align: center;
}

.contentJacket span {
	display: block;
	margin-top: 30px;
	font-size: 3em;
	letter-spacing: 0.01em;
	font-weight: bold;
	text-transform: uppercase;
}
.top:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}

.sixth, .seventh {
	width: 38.75%;
}

.bottom a {
	background-color: #83d78c;
}

.contentSixText {
	margin-top: 70px;
	padding: 10px;
}

.contentSixTextIn {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #666666;
	text-align: justify;
}

.contentSeven {
	padding-top: 20px;
	text-align: center;
}

.eighth {
	width: 19%;
}

.pictureSix {
	height: 100%;
	width: 50%;
	float: left;
}

.pictureSix img {
	height: 100%;
	width: 100%;
}

.contentSix {
	height: 100%;
	width: 50%;
	float: right;
}

.pictureSeven {
	height: 280px;
	background-image: url(images/img_7.png);
	background-position-y: 20%;
	background-size: 110%;
	text-align: center;
}

.eighth {
	text-align: center;
	background-color: #333333;
	color: white;
}

.eighth h4, .nixon, .continue {
	display: block;
	margin-top: 20px;
	text-transform: uppercase;
}

.nixon {
	margin-bottom: 10px;
	font-size: 2em;
}

.continue {
	margin-left: 10px;
	text-align: left;
}

.eighth p {
	padding: 10px;
	color: white;
	text-align: justify;
	line-height: 1.5;
}

.bottom:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}

